@font-face {
  font-family: 'Korataki';
  src: url('../fonts/korataki.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

* {
  transition: all 0.3s ease-in-out;
}

header,
main,
footer,
.header__black-block,
.header__white-block {
  padding: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__black-block,
.footer {
  background-color: #0c0c0c;
  color: #fff;
}

header {
  flex-direction: column;
}

.product-card {
  max-width: 320px;
}

.container {
  width: 1470px;
  padding: 0 35px;
}

@media (max-width: 390px) {
  .container {
    width: 100%;
    padding: 0 35px;
  }
}

@media (min-width: 391px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 44px;
  }
}

@media (min-width: 769px) and (max-width: 1600px) {
  .container {
    width: 1310px;
    padding: 0 35px;
  }
}

/* HEADER */
.header__container--black {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 35px;
  gap: 70px;
}

.header__container--black a:hover,
#lang-toggle:hover {
  color: #a1a1a1;
}

.header__container--black a:active,
#lang-toggle:active {
  color: rgb(228, 83, 2);
}

.header__container--white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 35px 72px;
}
.header__btn--lang-toggle {
  color: #fff;
  width: 23px;
  text-align: left;
}

.header__logo {
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
/* HEADER */

/* MAIN */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.product-card__promotion {
  animation: fadeInOut 5s ease-in-out infinite;
}

.section__products {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  padding-bottom: 50px;
  gap: 40px;
}

.section__title {
  font-family: 'Korataki', Helvetica, Arial, sans-serif;
  font-size: 44px;
  line-height: 140%;
  font-weight: 400;
  margin: 0 0 40px;
}

.product-card--with-background {
  position: relative;
  margin-bottom: 20px;
  padding: 0 31px;
  width: 100%;
  min-width: 320px;
  min-height: 477px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.product-card--with-background span {
  position: absolute;
  text-align: center;
  width: 126px;
  height: 38px;
  top: 10px;
  left: 10px;
  background-color: #231815;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.product-card__promotion {
  display: block;
  padding: 15px 0;
}

.product-card__button {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  left: 31px;
  right: 31px;
  position: absolute;
  bottom: 20px;
  background-color: rgb(228, 83, 2);
  border-radius: 50%;
  color: #fff;
  padding: 13px 48px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

@media (hover: hover) and (pointer: fine) {
  .product-card--with-background:hover .product-card__button {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

@media (hover: none) and (pointer: coarse) {
  .product-card__button {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.product-card__button:hover {
  background-color: rgb(199, 75, 3);
}

.product-card__button:active {
  background-color: rgb(255, 120, 43);
}

.product-card__title {
  color: rgb(35, 24, 21);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* MAIN */

/* FOOTER */
.footer__container {
  padding: 40px 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 16px;
}

.grid-item {
}

.grid-item__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.grid-item__address {
  font-size: 1rem;
}

.grid-item--scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--scroll {
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.button--scroll:hover .footer__logo {
  filter: brightness(0.5);
}

.grid-item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid-item__text {
  margin-top: 8px;
}

.grid-item--links {
  display: flex;
  flex-direction: column;
}

.grid-item__list {
  list-style-type: none;
  padding: 0;
}

.grid-item__list li {
  margin-bottom: 8px;
}

.grid-item--links {
  grid-row: span 2;
}

.grid-item--two-links1 {
  display: flex;
  flex-direction: column;
}

.grid-item__list li {
  margin-bottom: 8px;
}

.grid-item__text--privacy {
  color: #808080;
  min-width: 322px;
}

.grid-item--two-links2 {
  display: flex;
  flex-direction: column;
}

.grid-item--image-list {
  display: flex;
  justify-content: space-between;
}

.grid-item--image-list span {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.grid-item--image-list img {
  max-width: 100%;
  height: auto;
}

.privacy-policy {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  font-size: 16px;
}

#slash,
#recapcha {
  font-size: 16px;
  display: inline;
}

.privacy-policy::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 0.5px;
  background-color: #808080;
}

#mir,
#visa,
#mc {
  filter: grayscale(100%);
}

#mir:hover,
#visa:hover,
#mc:hover {
  filter: grayscale(0%);
}

/* АДАПТИВ */
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .grid-item--scroll {
    grid-column: 1 / -1;
  }

  .grid-item--address {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .grid-item--two-links2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .grid-item--links {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .grid-item--two-links1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .grid-item--image-list {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .grid-item--text {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
  }
}

@media (max-width: 390px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-item--scroll {
    order: 1;
  }

  .grid-item--address {
    order: 2;
  }

  .grid-item--links {
    order: 4;
  }

  .grid-item--two-links1 {
    order: 5;
  }

  .grid-item--text {
    order: 7;
  }

  .grid-item--two-links2 {
    order: 3;
  }

  .grid-item--image-list {
    order: 6;
  }
}
/* АДАПТИВ */

/* FOOTER */
